@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap');
@font-face {
    font-family: 'Gidole';
    src: url('../font/.eot');
    src: local('../font/Gidole Regular'), local('Gidole-Regular'),
        url('../font/.eot?#iefix') format('embedded-opentype'),
        url('../font/Gidole-Regular.woff2') format('woff2'),
        url('../font/Gidole-Regular.woff') format('woff'),
        url('Gidole-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body{font-size:16px; margin:0 auto; font-family: 'Gidole'; }
.container {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}

.timlogo{
	width: 200px;
	display: block;
	margin: 0 auto;
	padding-top: 15px;
}
.head{
	position: absolute;
	top: 35px;
	right: 50px;
}
.head .tile{
	display: inline-block;
	height: 50px;
	width: 50px;
	margin-left: 5px;
	transition: all .3s ease-in;
	-webkit-transition: all .3s ease-in;
}
.head .tile.socialmedia{
	color: #0b253e;
	font-size: 50px;
	text-align: center;
	line-height: 50px;
	position: relative;
	top: -6px;
}
header.clicked .head .tile.socialmedia{
	color: white;
}
.head .burger{
	margin-left: 25px;
	padding: 5px;
	cursor: pointer;
	background-color: transparent;
}
.meat{
	height: 40px;
	width: 40px;
	position: relative;
	transition: all .3s ease-in;
	-webkit-transition: all .3s ease-in;
}
header.clicked .head .burger .meat{
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}
.meat .line{
	height: 4px;
	width: 40px;
	background-color: #0b253e;
	border-radius: 3px;
	position: absolute;
	transition: all .3s ease-in;
	-webkit-transition: all .3s ease-in;
}
.meat .line.one{top: 5px; left: 0px;}
.meat .line.two{top: 18px; left: 0px;}
.meat .line.three{top: 31px; left: 0px;}

header.clicked .burger .line{
	background-color: white;
}
header.clicked .burger .line.one{
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	top: 18px;
}
header.clicked .burger .line.two{
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	top: 18px;
}
header.clicked .burger .line.three{
	opacity: 0;
}
header.clicked .burger:hover .meat{
	transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
}








.nav-modal{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100vh;
	visibility: hidden;
	opacity: 0;
	transition: all .3s ease-in;
	-webkit-transition: all .3s ease-in;
	pointer-events: none;
}
header.clicked .nav-modal{
	visibility: visible;
	opacity: 1;
	pointer-events: initial;
}

.nav-modal .blob {
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	margin: 0 auto;
	background-color: #4ab7c3;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transition: all .3s ease-in;
}

header.clicked .nav-modal .blob{
	width: 100vw;
	height: 100vh;
	border-radius: 0px;
}

nav{
	position: fixed;
	left: 20%;
	top: 30%;
	color: white;
}
nav a {
	color: white;
	font-size: 20px;
	text-decoration: none;
}

nav ul li{
	list-style: none;
	text-align: right;
	border-right: 6px solid white;
	padding-bottom: 10px;
	padding-right: 10px;
	position: relative;
}
nav{
	opacity: 0;
	transition: all .3s ease-in;
	-webkit-transition: all .3s ease-in;
	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-o-transition-delay: .3s;
	transition-delay: .3s;
}

.nav-modal ul li a:hover {
	color: #231f20;
	text-decoration: none;
}
header.clicked nav{
	opacity: 1;
}

nav ul li ul{
	position: absolute;
	right: -300px;
	top: -4px;
	display: none;
}
nav ul li ul li{
	border: none;
	padding-bottom: 10;
	padding-left: 10px;
	height: 50px;
	width: 300px;
}
nav ul li ul li a{
	display: block;
	height: 50px;
	font-size: 20px;
	text-align: left;
	padding: 10px;
}
nav ul li.selected ul{
	display: block;
}

nav ul li.notselected a{
	opacity: .5;
}
nav ul li.selected ul li a{
	opacity: 1;
}





@media screen and (max-width:820px){
	.timlogo{margin-left: 50px;}
}
@media screen and (max-width:580px){
	.timlogo{width: 130px; padding-top: 30px;}
	nav ul li a{
		font-size: 16px;
	}
	nav ul li ul{
		top: -9px;
	}
	nav ul li ul li{
		height: 40px;
	}
	nav ul li ul li a{
		font-size: 16px;
		height: 40px;
	}
}
@media screen and (max-width:500px){
	.timlogo{display: none;}
}
@media screen and (max-width:320px){
	header .head .tile.socialmedia{
		display: none;
	}
}
/*****************main-header******************/
header {
	position: absolute;
	z-index: 9999999999;
	width: 100%;
}
#main-header {
	width: 100%;
	display: block;
	overflow: hidden;
	padding: 20px 0px;
	 
}
 .logo a {
	text-decoration: none;
}
 .logo img{
  width:100%;
}
  
 
.navbar {
	text-align: center;
}
 

.navbar.navbar-expand-lg ul {
	display: none;
	margin: 0px !important;
	width: 100%;
}
.navbar-toggler-icon {
	position: absolute;
	right: 0;
	top: 30px;
}

.navbar.navbar-expand-lg ul li {
	padding: 0px 10px;
	display: block;
}
.navbar.navbar-expand-lg ul li a {
	padding: 0px;
    font-family: 'Montserrat';
    text-decoration: none;
	text-transform: uppercase;
	
}

.navbar.navbar-expand-lg ul li a:hover {
	color: #c8af9e;
}

.navbar ul li a {
	color: #231f20;
	font-size: 16px;
	font-weight: 600;
 }

 .navbar-nav.mega-menu-ul {
	width: 50%;
	background: #fff;
	box-shadow: 0px 0px 10px 4px rgba(13, 13, 13, 0.29);
	-moz-box-shadow: 0px 0px 10px 4px rgba(13, 13, 13, 0.29);
	-webkit-box-shadow: 0px 0px 10px 4px rgba(13, 13, 13, 0.29);
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

 /***********banner*************/
 #banner {
	display: block;
	overflow: hidden;
	text-align: center;
	background-image: url(../images/banner-image.png);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 926px;
	background-position: 50% 100%;
	position: relative;
	height: 100%;
}

#banner .col-md-12 {
	 
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.banner-heading h1 {
	color: #231f20;
	font-size: 52.81px;
	width: 55%;
	margin: 0 auto;
	padding-bottom: 20px;
	line-height: 60.81px;
	font-weight: normal;
}

.banner-heading h2 {
	font-size: 33.13px;
	line-height: 49.123px;
	color: #666666;
	font-weight: 400;
	padding-bottom: 15px;
}

button {
	background: none;
	border: none;
	padding: 0px;
}
button a:hover {
	color: #fff;
	text-decoration: none;
	background: #338197;
	transition: all ease-in-out 0.5s;
}

button a {
	display: block;
	background: #4ab7c3;
	padding: 17px 35px;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 17.1px;
	line-height: 18.1px;
	font-weight: 600;
	border-radius: 2px;
}

.banner-heading button a:hover {
	color: #fff;
	 text-decoration: none;
	 background:#338197;
	transition: all ease-in-out 0.5s;
}

button a {
	-webkit-animation:custom-shake 3s ease-in-out 6s infinite;
	animation:custom-shake 3s ease-in-out 6s infinite;
   -webkit-transform:translate(0) rotate(0deg); 
   -webkit-transform-origin:bottom;
   transform:translate(0) rotate(0deg); 
  transform-origin:bottom; 
}
@-webkit-keyframes custom-shake {
   3% {
	   -webkit-transform: translate(-3px) rotate(-3deg)
   }
   6% {
	   -webkit-transform: translate(3px) rotate(3deg)
   }
   9% {
	   -webkit-transform: translate(-3px) rotate(-3deg)
   }
   12% {
	   -webkit-transform: translate(3px) rotate(3deg)
   }
   15% {
	   -webkit-transform: translate(-3px) rotate(-3deg)
   }
   18% {
	   -webkit-transform: translate(3px) rotate(3deg)
   }
   0%,
   21%,
   to {
	   -webkit-transform: translate(0) rotate(0deg)
   }
}

#Naturally {
	width: 100%;
	display: block;
	overflow: hidden;
	 
}


.N-img1 {
	background-image: url(../images/Naturally-img-1.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 350px;
	height: 100%;
	padding: 0px 30px;
}

 .N-img1 img {
	padding-top: 25px;
	padding-bottom: 25px;
}

 .N-img1 h2 {
	font-size: 32px;
	line-height: 45px;
	color: white;
	font-weight: normal;
	margin-bottom: 0px;
	padding-bottom: 20px;
}

.col-md-4.N-img1 p {
	font-size: 15px;
	font-weight: 400;
	color: white;
	margin-bottom: 0px;
	padding-bottom: 20px;
	line-height: 22px;
}

#Naturally button {
	padding-bottom: 20px;
}
#Naturally button a {
	display: block;
	background: #338197;
	padding: 17px 35px;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 17.1px;
	line-height: 18.1px;
	font-weight: 600;
	border-radius: 2px;
}

/*****2*******/

.N-img2 {
	background-image: url(../images/Naturally-img-2.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 350px;
	height: 100%;
	padding: 0px 30px;
}

 .N-img2 img {
	padding-top: 25px;
	padding-bottom: 25px;
}

 .N-img2 h2 {
	font-size: 32px;
	line-height: 45px;
	color: white;
	font-weight: normal;
	margin-bottom: 0px;
	padding-bottom: 20px;
}

 .N-img2 p {
	font-size: 15px;
	font-weight: 400;
	color: white;
	margin-bottom: 0px;
	padding-bottom: 20px;
	line-height: 22px;
}

.btn-active {
	background: #4ab7c3 !important;
}

/********3******/


.N-img3 {
	background-image: url(../images/Naturally-img-3.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 350px;
	height: 100%;
	padding: 0px 30px;
}

 .N-img3 img {
	padding-top: 25px;
	padding-bottom: 25px;
}

 .N-img3 h2 {
	font-size: 28px;
	line-height: 45px;
	color: white;
	font-weight: normal;
	margin-bottom: 0px;
	padding-bottom: 20px;
}

 .N-img3 p {
	font-size: 15px;
	font-weight: 400;
	color: white;
	margin-bottom: 0px;
	padding-bottom: 20px;
	line-height: 22px;
}


/**********************/

#Mobility {
	width: 100%;
	display: block;
	overflow: hidden;
	padding: 30px 0px 50px;
	background: #f9f9f9;
}

.Mobility-heading {
	width: 100%;
	display: block;
	overflow: hidden;
	text-align: center;
	padding-bottom: 50px;
    padding-top: 20px;
	
}

 .Mobility-heading h1 {
	font-size: 40px;
	font-weight: normal;
	padding-bottom: 10px;
	position: relative;
	padding-bottom: 30px;
}

.col-md-12.Mobility-heading h1::after {
	position: absolute;
	content: "";
	width: 108px;
	height: 4px;
	background-image: url(../images/after-shape.png);
	background-repeat: no-repeat;
	background-size: cover;
	left: 0px;
	bottom: 0px;
	right: 0px;
	margin: 0 auto;
}
 

.Mobility-border-heading {
	border: 2px solid #4ab7c3;
	padding-top: 10px;
	padding: 10px;
}

.Mobility-border-heading img {
	display: block;
	margin-bottom: -25px;
	width: 100%;
	 
}

.Mobility-img-heading {
	display: block;
	overflow: hidden;
	padding-top: 20px;
}

.Mobility-img-heading h5 {
	color: #4e4b4b;
	font-size: 22px;
	font-weight: 400;
	line-height: 24px;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 0px;
	padding-bottom: 10px;
}

.Mobility-img-heading p {
	color: #666666;
	font-size: 16px;
	font-weight: normal;
	padding-bottom: 10px;
	margin-bottom: 0px;
}
/**********control***********/
#control {
	width: 100%;
	display: block;
	overflow: hidden;
	background: #f6fcfc;
	padding: 50px 0px;
}


.control-heading span {
	font-size: 32px;
	line-height: 45.6px;
	font-weight: normal;
}
 

.control-heading h1 {
	font-size: 44.87px;
	line-height: 60px;
	text-transform: uppercase;
	padding-bottom: 30px;
	position: relative;
}

.control-heading h1::after {
	position: absolute;
	content: "";
	width: 108px;
	height: 4px;
	background-image: url(../images/after-shape.png);
	background-repeat: no-repeat;
	background-size: cover;
	left: 0px;
	bottom: 0px;
}

.control-heading p {
	color: #666666;
	font-size: 18px;
	font-weight: normal;
	padding-top: 30px;
}
.small-paragraph {
	padding-top: 0px !important;
	padding-bottom: 30px;
}

.paragraph-text {
	padding-left: 15px;
}

.paragraph-text li a {
	color: #666666;
	font-size: 18px;
	font-weight: normal;
	text-decoration: none;
}

.paragraph-text li {
	padding: 10px 0px;
	list-style: url(../images/list-style-dot.png); background-repeat:  
}



.control-img-heading img {
	max-width: 953px;
	min-height: 701px;
	width: 100%;
	height: 100%;
}

footer {
	width: 100%;
	display: block;
	overflow: hidden;
	background: #338197;
	padding: 70px 0px;
}



.address img {
	float: left;
	padding-right: 15px;
}

.address {
	padding-top: 10px;
}

.address h5 {
	color: white;
	font-size: 20px;
	font-weight: 400;
	cursor: pointer;
}

.footer-logo img {
	width: 100%;
}
.footer-logo p {
	color: #fff;
	font-size: 18px;
	font-weight: normal;
	padding-top: 30px;
}

.footer-heading h5 {
	color: white;
	font-size: 21.9px;
	text-transform: uppercase;
	padding-bottom: 30px;
	position: relative;
}
.footer-heading h5::after {
	position: absolute;
	content: "";
	left: 0;
	background: #f89086;
	width: 41px;
	height: 5px;
	bottom: 0px;
}

.footer-menu {
	padding-left: 15px;
	padding-top:10px;
}

.footer-menu li a {
	color: #fff;
	font-size: 18px;
	font-weight: normal;
	text-decoration: none;
}

.footer-menu li {
	padding: 10px 0px;
	list-style: url(../images/list-style-dots.png);
}

.two-social-icon {
	padding-left: 0;
}

.two-social-icon li {
	display: inline-block;
 
}

.two-social-icon p {
	font-size: 14px;
	color: white;
	padding-top: 10px;
}

footer ul li a:hover {
	color: #4ab7c3;
}